<div class="container py-5">
  <div class="row">
    <div class="col-md-4 col-lg-2">
      <app-aside-filtro></app-aside-filtro>
    </div>
  
    <div class="col-md-8 col-lg-10">
      <div class="container">
        <div class="row mb-3">
          <div class="col-md-4">
            <select class="form-control custom-select-sm" placeholder="Ordenar por">
              <option value="1">Menor Preço</option>
              <option value="1">Maior Preço</option>
              <option value="1">Mais Avaliado</option>
            </select>
          </div>
  
          <div class="col-md-8 text-right">
            <button type="button" class="btn btn-link pr-0">
              <i class="fa fa-th-list"></i>
            </button>

            <button type="button" class="btn btn-link">
              <i class="fa fa-th-large"></i>
            </button>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-3">
            <app-card-item></app-card-item>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <app-card-item></app-card-item>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <app-card-item></app-card-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>