<div class="tab_container">
  <form action="" method="post">
    <div class="pymt-radio">
      <div class="row-payment-method payment-row">
        <div class="select-icon">
          <input type="radio" id="radio1" name="radios" value="pp" />
          <label for="radio1"></label>
        </div>
        <div class="select-txt">
          <p class="pymt-type-name">Paypal</p>
          <p class="pymt-type-desc">
            Pagamento seguro online. Cartão de crédito necessário. A conta do PayPal não é necessário.
          </p>
        </div>
        <div class="select-logo">
          <img src="https://www.dropbox.com/s/pycofx0gngss4ef/logo-paypal.png?raw=1" alt="PayPal" />
        </div>
      </div>
    </div>

    <div class="pymt-radio">
      <div class="row-payment-method payment-row-last">
        <div class="select-icon hr">
          <input type="radio" id="radio2" name="radios" value="pp" checked />
          <label for="radio2"></label>
        </div>
        <div class="select-txt hr">
          <p class="pymt-type-name">Cartão de Crédito</p>
          <p class="pymt-type-desc">
            Transferência segura de dinheiro usando sua conta bancária. 
            Pagamento seguro online. Cartão de crédito necessário. Visa, Maestro, Discover, American Express
          </p>
        </div>
        <div class="select-logo">
          <div class="select-logo-sub logo-spacer">
            <img src="https://www.dropbox.com/s/by52qpmkmcro92l/logo-visa.png?raw=1" alt="Visa" />
          </div>
          <div class="select-logo-sub">
            <img src="https://www.dropbox.com/s/6f5dorw54xomw7p/logo-mastercard.png?raw=1" alt="MasterCard" />
          </div>
        </div>
      </div>
    </div>

    <div class="pymt-radio">
      <div class="row-payment-method payment-row">
        <div class="select-icon">
          <input type="radio" id="radio3" name="radios" value="bb" />
          <label for="radio3"></label>
        </div>
        <div class="select-txt">
          <p class="pymt-type-name">Boleto</p>
          <p class="pymt-type-desc">
            Essa forma é muito utilizada por pessoas que não possuem conta em banco e, por isso, não têm como utilizar o caixa eletrônico ou o Internet Banking.
          </p>
        </div>
        <div class="select-logo">
          <img src="https://img.icons8.com/color/48/000000/boleto-bankario.png" width="50" height="40" alt="Boleto" />
        </div>
      </div>
    </div>

  </form>
</div>