  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-10">

          <div class="card-body">
            <div class="row">
              <div class="product-info col-md-7 col-lg-8">
                <div class="product-gallery">
                  <div class="product-gallery-thumbnails">
                    <ol class="thumbnails-list list-unstyled">
                      <li><img src="https://via.placeholder.com/350x350/ffcf5b" alt=""></li>
                      <li><img src="https://via.placeholder.com/350x350/f16a22" alt=""></li>
                      <li><img src="https://via.placeholder.com/350x350/d3ffce" alt=""></li>
                      <li><img src="https://via.placeholder.com/350x350/7937fc" alt=""></li>
                      <li><img src="https://via.placeholder.com/350x350/930000" alt=""></li>
                    </ol>
                  </div>
                  <div class="product-gallery-featured">
                    <app-favoritar-produto></app-favoritar-produto>

                    <img src="https://via.placeholder.com/350x350/ffcf5b" alt="">
                  </div>
                </div>
  
                <div class="product-seller-recommended">
                  <h3 class="mb-4">Produtos do David's Store</h3>
                  <div class="recommended-items card-deck">
                    <div class="card">
                      <img src="https://via.placeholder.com/157x157" alt="" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title">R$ 55,00</h5>
                        <span class="text-muted">
                          <small>Ração Úmida Nestlé Purina Friskies Sachê Peixe ao Molho para Gatos Filhotes</small>
                        </span>
                      </div>
                    </div>
                    <div class="card">
                      <img src="https://via.placeholder.com/157x157" alt="" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title">R$ 55,00</h5>
                        <span class="text-muted">
                          <small>Ração Úmida Nestlé Purina Friskies Sachê Peixe ao Molho para Gatos Filhotes</small>
                        </span>
                      </div>
                    </div>
                    <div class="card">
                      <img src="https://via.placeholder.com/157x157" alt="" class="card-img-top">
                      <div class="card-body">
                        <h5 class="card-title">R$ 55,00</h5>
                        <span class="text-muted">
                          <small>Ração Úmida Nestlé Purina Friskies Sachê Peixe ao Molho para Gatos Filhotes</small>
                        </span>
                      </div>
                    </div>
                  </div>
                  <!-- /.recommended-items-->
                  <p class="mb-4 mt-4"><a href="#">Ver todos os anúncios deste vendedor</a></p>
  
                  <div class="product-description mb-4">
                    <h2 class="mb-3">Detalhes</h2>
                    <dl class="row mb-5">
                      <dt class="col-sm-3">Marca</dt>
                      <dd class="col-sm-9">Friskies, Nestlé Purina</dd>
                      <dt class="col-sm-3">Indicação</dt>
                      <dd class="col-sm-9">Gatos</dd>
                      <dt class="col-sm-3">Tamanho</dt>
                      <dd class="col-sm-9">XXL</dd>
                      <dt class="col-sm-3">Sabor</dt>
                      <dd class="col-sm-9">Peixe</dd>
                    </dl>
  
                    <h2 class="mb-3">Descrição</h2>
  
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit nemo reiciendis quisquam a quis delectus consectetur ipsa eligendi aliquam earum in vitae voluptate ratione fugiat similique nostrum debitis dolor, ipsam quo officiis quas
                      necessitatibus? Magnam eveniet iure, eligendi est ullam consectetur repellat quis doloremque ad perspiciatis assumenda ducimus distinctio quaerat sit repudiandae illo praesentium modi dolor. Veritatis aperiam, minima natus assumenda
                      ipsum voluptatem reprehenderit? Possimus nobis, voluptate, blanditiis, temporibus ad nostrum corrupti quos corporis voluptas tempora aliquid magnam quia voluptatem rerum odit fugiat facere necessitatibus adipisci sunt. Veritatis architecto,
                      perferendis labore sit nobis eaque perspiciatis et iusto, in doloribus est!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus vel reiciendis voluptatibus assumenda tempora vitae aut adipisci harum, corporis in id perferendis quia repellat reprehenderit temporibus aspernatur ab ullam magni error
                      consectetur, facilis inventore ipsum, veniam voluptas. Error laboriosam atque quisquam facere esse repellat consectetur quos eum, quaerat blanditiis saepe?</p>
                  </div>
  
                  <div class="product-faq mb-5">
                    <h2 class="mb-3">Perguntas e Respostas</h2>
                    <p class="text-muted">Quais informações você precisa?</p>
                    <div class="main-questions d-inline" data-container="body" data-toggle="popover" data-placement="right" data-content="Are you in doubt? these shortcuts can help you!">
                      <a href="#" class="btn btn-outline-primary mr-1">Custo e tempo de entrega</a>
                      <a href="#" class="btn btn-outline-primary mr-1">Garantia</a>
                      <a href="#" class="btn btn-outline-primary mr-1">Opções de pagamento</a>
                    </div>
                  </div>
  
                  <div class="product-comments">
                    <h5 class="mb-2">Ou pergunte para a David's Store</h5>
                    <form action="" class="mb-5">
                      <div class="row">
                        <div class="col-md-9">
                          <textarea name="" id="" cols="50" rows="2" class="form-control mr-4" placeholder="Informe sua pergunta"></textarea>
                        </div>
                        <div class="col-md-3">
                          <button class="btn btn-lg btn-primary">Perguntar</button>
                        </div>
                      </div>
                    </form>
  
                    <h5 class="mb-4">Perguntas mais recentes</h5>
                    <ol class="list-unstyled last-questions-list">
                      <li><i class="fa fa-comment"></i> <span>Olá David, posso pagar com cartão de crédito?</span></li>
                      <li><i class="fa fa-comment"></i> <span>posso enviá-lo para outro endereço?</span></li>
                    </ol>
                  </div>
                </div>
              </div>
  
              <div class="product-payment-details col-md-5 col-lg-4">
                <p class="last-sold text-muted"><small>145 itens vendidos</small></p>
                <h4 class="product-title mb-2">Ração Úmida Nestlé Purina Friskies Sachê Peixe ao Molho para Gatos Filhotes</h4>
                <h2 class="product-price display-4 text-primary">R$ 25,00</h2>
                <p class="text-success"><i class="fa fa-credit-card"></i> 12x ou 5x R$ 5,00</p>
                <p class="mb-0"><i class="fa fa-truck"></i> Entrega em todo o território</p>

                <div class="text-muted mb-2">
                  <small>saiba mais sobre prazos de entrega e formas de envio</small>
                </div>

                <label for="quant">Quantidade</label>
                <input type="number" name="quantity" min="1" id="quant" class="form-control mb-4 input-lg" placeholder="Escolha a quantidade">

                <a href="/carrinho" class="btn btn-info btn-block mb-2 text-white">
                  <i class="fa fa-shopping-cart mr-2"></i>
                  Adicionar ao carrinho
                </a>

                <a href="/pagamento" class="btn btn-primary btn-block text-white">
                  <i class="fa fa-credit-card mr-2"></i>
                  Comprar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
