<div class="container">
  <div class="row">
    <div id="carrosel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carrosel" data-slide-to="0" class="active"></li>
        <li data-target="#carrosel" data-slide-to="1"></li>
        <li data-target="#carrosel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://www.petlove.com.br/static/uploads/banner_image/image/15773/620555714_banner-home_0107_promocao-exclusiva-filhotes__1_.jpg" alt="primeiro">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://www.petlove.com.br/static/uploads/banner_image/image/15741/618666643_banner-home_0107_compre-medicamentos-20off-racoes-selecionadas.jpg" alt="segundo">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="https://www.petlove.com.br/static/uploads/banner_image/image/15745/620272740_banner-home_0207_Acessorios-Brinquedos-Ganhe-20off-Racoes.jpg" alt="terceiro">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carrosel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carrosel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Proximo</span>
      </a>
    </div>
  </div>
  <div class="row"> 
    <div class="card">
      <img class="card-img-top" src="https://www.petlove.com.br/images/products/208139/small/Ra%C3%A7%C3%A3o_Affinity_PetCare_Gran_Plus_Frango_e_Arroz_para_Gatos_Castrados_Adultos_31024006_1KG.jpg?1558450480" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="https://www.petlove.com.br/images/products/219558/product/Areia_Sanit%C3%A1ria_Kelco_Pipicat_Ultra_Dry_3105882.jpg?1580212031" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="https://www.petlove.com.br/images/products/210994/product/Brinquedo_Chalesco_Pel%C3%BAcia_Porquinho_31020461_1.jpg?1562355715" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="https://www.petlove.com.br/images/products/211839/product/Brinquedo_Chalesco_L%C3%A1tex_Piratex_-_Pirata_2318624_1.jpg?1564486134" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
