<div id="carrosel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carrosel" data-slide-to="0" class="active"></li>
    <li data-target="#carrosel" data-slide-to="1"></li>
    <li data-target="#carrosel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://www.petlove.com.br/static/uploads/banner_image/image/15773/620555714_banner-home_0107_promocao-exclusiva-filhotes__1_.jpg" alt="primeiro">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.petlove.com.br/static/uploads/banner_image/image/15741/618666643_banner-home_0107_compre-medicamentos-20off-racoes-selecionadas.jpg" alt="segundo">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.petlove.com.br/static/uploads/banner_image/image/15745/620272740_banner-home_0207_Acessorios-Brinquedos-Ganhe-20off-Racoes.jpg" alt="terceiro">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carrosel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#carrosel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Proximo</span>
  </a>
</div>

<div class="container pb-5">

  <div class="row mt-5">
    <div class="col-12 text-center">
      <h4>
        Categorias
      </h4>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <div class="contenedor_scroll">
        <div class="contenedor">
          <div class="img_presentacion_mini">
            <img src="https://www.petz.com.br/novaLoja/images/mobile/home/cachorrosCateg.svg">
            <span class="d-block text-primary">Cachorros</span>
          </div>

          <div class="img_presentacion_mini">
            <img src="https://www.petz.com.br/novaLoja/images/mobile/home/gatosCateg.svg">
            <span class="d-block text-primary">Gatos</span>
          </div>

          <div class="img_presentacion_mini">
            <img src="https://www.petz.com.br/novaLoja/images/mobile/home/passarosCateg.svg">
            <span class="d-block text-primary">Pássaros</span>
          </div>

          <div class="img_presentacion_mini">
            <img src="https://www.petz.com.br/novaLoja/images/mobile/home/roedoresCateg.svg">
            <span class="d-block text-primary">Roedores</span>
          </div>

          <div class="img_presentacion_mini">
            <img src="https://www.petz.com.br/novaLoja/images/mobile/home/peixesCateg.svg">
            <span class="d-block text-primary">Peixes</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 text-center">
      <h4>
        Itens Disponíveis
      </h4>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-12">
      <div class="contenedor_scroll">
        <div class="contenedor">
          <div class="img_presentacion_mini">
            <img src="https://www.petz.com.br/novaLoja/images/home/ração-seca.png">
            <span class="d-block text-primary">Ração Seca</span>
          </div>

          <div class="img_presentacion_mini">
            <img src="https://www.petz.com.br/novaLoja/images/home/antipulgas.png">
            <span class="d-block text-primary">Antipulgas</span>
          </div>

          <div class="img_presentacion_mini">
            <img src="https://www.petz.com.br/novaLoja/images/home/tapetes.png">
            <span class="d-block text-primary">Tapetes</span>
          </div>

          <div class="img_presentacion_mini">
            <img src="https://www.petz.com.br/novaLoja/images/home/medicamentos.png">
            <span class="d-block text-primary">Medicamentos</span>
          </div>

          <div class="img_presentacion_mini">
            <img src="https://www.petz.com.br/novaLoja/images/home/casinhas.png">
            <span class="d-block text-primary">Casinhas</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5 mb-2">
    <div class="col-12 text-center">
      <h4>
        Produtos Recomendados
      </h4>
    </div>
  </div>

  <div class="row"> 

    <div class="col-md-6 col-lg-4 mb-3">
      <app-card-item [isCard]="true"></app-card-item>
    </div>

    <div class="col-md-6 col-lg-4 mb-3">
      <app-card-item [isCard]="true"></app-card-item>
    </div>

    <div class="col-md-6 col-lg-4 mb-3">
      <app-card-item [isCard]="true"></app-card-item>
    </div>
  </div>

  <div class="row mt-5 mb-2">
    <div class="col-12 text-center">
      <h4>
        Produtos em destaque
      </h4>
    </div>
  </div>

  <div class="row"> 

    <div class="col-md-6 mb-3">
      <app-card-item [isCard]="false"></app-card-item>
    </div>

    <div class="col-md-6 mb-3">
      <app-card-item [isCard]="false"></app-card-item>
    </div>
  </div>
</div>
