<aside class="aside-filtro">
  <ul class="lista-filtro">
    <li>
      
    </li>
    <li>
      <a href="" class="text-dark">
        teste
      </a>
    </li>
    <li>
      <a href="" class="text-dark">
        teste
      </a>
    </li>
    <li>
      <a href="" class="text-dark">
        teste
      </a>
    </li>
    <li>
      <a href="" class="text-dark">
        teste
      </a>
    </li>
    <li>
      <a href="" class="text-dark">
        teste
      </a>
    </li>
    <li>
      <a href="" class="text-dark">
        teste
      </a>
    </li>
    
  </ul>
</aside>