<div class="container py-4 py-md-5">
  <div class="card">
    <div class="row">
      <div class="col-md-12 col-lg-8 cart">
        <div class="title">
          <div class="row">
            <div class="col">
              <h4><b>Carrinho</b></h4>
            </div>
            <div class="col align-self-center text-right text-muted">
              3 Itens
            </div>
          </div>
        </div>
        <div class="row border-top border-bottom">
          <div class="row main align-items-center">
            <div class="col-2 d-none d-md-block">
              <img class="img-fluid" src="https://www.petlove.com.br/images/products/208139/small/Ra%C3%A7%C3%A3o_Affinity_PetCare_Gran_Plus_Frango_e_Arroz_para_Gatos_Castrados_Adultos_31024006_1KG.jpg?1558450480" />
            </div>
            <div class="col">
              <div class="row text-muted">David's Store</div>
              <div class="row">RAÇÃO ÚMIDA NESTLÉ PURINA FRISKIES SACHÊ PEIXE AO MOLHO PARA GATOS FILHOTES</div>
            </div>
            <div class="col">
              <a href="#">-</a>
              <a href="#" class="p-2 mx-1">1</a>
              <a href="#">+</a>
            </div>
            <div class="col">
              R$ 44.00 <span class="close">&#10005;</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="row main align-items-center">
            <div class="col-2 d-none d-md-block">
              <img class="img-fluid" src="https://www.petlove.com.br/images/products/208139/small/Ra%C3%A7%C3%A3o_Affinity_PetCare_Gran_Plus_Frango_e_Arroz_para_Gatos_Castrados_Adultos_31024006_1KG.jpg?1558450480" />
            </div>
            <div class="col">
              <div class="row text-muted">David's Store</div>
              <div class="row">RAÇÃO ÚMIDA NESTLÉ PURINA FRISKIES SACHÊ PEIXE AO MOLHO PARA GATOS FILHOTES</div>
            </div>
            <div class="col">
              <a href="#">-</a><a href="#" class="p-2 mx-1">1</a><a href="#">+</a>
            </div>
            <div class="col">
              R$ 44.00 <span class="close">&#10005;</span>
            </div>
          </div>
        </div>
        <div class="row border-top border-bottom">
          <div class="row main align-items-center">
            <div class="col-2 d-none d-md-block">
              <img class="img-fluid" src="https://www.petlove.com.br/images/products/208139/small/Ra%C3%A7%C3%A3o_Affinity_PetCare_Gran_Plus_Frango_e_Arroz_para_Gatos_Castrados_Adultos_31024006_1KG.jpg?1558450480" />
            </div>
            <div class="col">
              <div class="row text-muted">David's Store</div>
              <div class="row">RAÇÃO ÚMIDA NESTLÉ PURINA FRISKIES SACHÊ PEIXE AO MOLHO PARA GATOS FILHOTES</div>
            </div>
            <div class="col">
              <a href="#">-</a><a href="#" class="p-2 mx-1">1</a><a href="#">+</a>
            </div>
            <div class="col">
              R$ 44.00 <span class="close">&#10005;</span>
            </div>
          </div>
        </div>
        <div class="back-to-shop">
          <a href="#">
            <i class="fa fa-arrow-back"></i>
          </a><span class="text-muted">Voltar á loja</span>
        </div>
      </div>

      <div class="col-md-12 col-lg-4 summary">
        <div>
          <h5><b>Resumo</b></h5>
        </div>

        <hr />

        <div class="row mb-3">
          <div class="col">Itens 3</div>
          <div class="col text-right">R$ 132.00</div>
        </div>

        <form>
          <div class="form-group mb-4">
            <label>Endereço de entrega</label>
            <select class="form-control">
              <option class="text-muted">Minha rua bla bla - 12</option>
            </select>
            <a href="" class="text-primary pull-right">
              <small>Cadastrar endereço</small>
            </a>
          </div>

          <div class="form-group">
            <label>Frete</label>
            <select class="form-control">
              <option class="text-muted">Sedex - R$5.00</option>
            </select>
          </div>

          <div class="form-group">
            <label>Cupom de desconto</label>
            <input id="code" class="form-control" placeholder="Insira seu código" />
          </div>
        </form>

        <div class="row" style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0;">
          <div class="col">PREÇO TOTAL</div>
          <div class="col text-right">R$ 137.00</div>
        </div>

        <button class="btn btn-block mt-3 btn-primary">
          <i class="fa fa-credit-card mr-2"></i>
          COMPRAR
        </button>
      </div>
    </div>
  </div>
</div>