<div class="row border-top border-bottom">
  <div class="row main align-items-center">
    <div class="col-10 col-lg-11">
      <div class="row">
        <div class="col-2 col-md-2 d-none d-md-flex align-items-center text-center justify-content-center">
          <img class="img-fluid text-center" src="https://www.petlove.com.br/images/products/208139/small/Ra%C3%A7%C3%A3o_Affinity_PetCare_Gran_Plus_Frango_e_Arroz_para_Gatos_Castrados_Adultos_31024006_1KG.jpg?1558450480" />
        </div>

        <div class="col-12 col-md-10 mb-3 mb-md-0">
          <div class="text-muted">
            <small>David's Store</small>
          </div>
          <span class="">RAÇÃO ÚMIDA NESTLÉ PURINA FRISKIES SACHÊ PEIXE AO MOLHO PARA GATOS FILHOTES</span>
        </div>

        <div class="col col-md-2 text-left text-md-center">
          <a href="#">-</a>
          <a href="#" class="p-2 mx-1">1</a>
          <a href="#">+</a>
        </div>

        <div class="col">
          <span class="text-primary">R$ 44.00</span>
        </div>
      </div>
    </div>

    <div class="col-2 col-lg-1 d-flex align-items-center">
      <span class="close">
        <i class="fa fa-trash text-danger fa-2x"></i>
      </span>
    </div>
  </div>
</div>
