<footer class="text-center text-md-left">
  <div class="footer" id="footer-sub">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>AJUDA</h5>
          <ul>
            <li>
              <a href="">Pagamentos</a>
              <hr />
            </li>
            <li>
              <a href="">Cartões Salvos</a>
              <hr />
            </li>
            <li>
              <a href="">Cancelamentos e Devoluções</a>
              <hr />
            </li>
            <li><a href="">Perguntas frequentes</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <h5>COMPANHIA</h5>
          <ul>
            <li>
              <a href="">Contate-nos</a>
              <hr />
            </li>
            <li>
              <a href="">Sobre nós</a>
              <hr />
            </li>
            <li>
              <a href="">Anuncie</a>
              <hr />
            </li>
            <li><a href="">Venda em nosso site</a></li>
          </ul>
        </div>

        <div class="col-md-4">
          <h5>MISC</h5>
          <ul>
            <li>
              <a href="">Compras Online</a>
              <hr />
            </li>
            <li>
              <a href="">Programa de Afiliados</a>
              <hr />
            </li>
            <li>
              <a href="">Cartão de Presente</a>
              <hr />
            </li>
            <li>
              <a href="">Inscrição</a>
            </li>
          </ul>
        </div>
      </div>

      <hr style="margin-bottom: 0px; margin-top: 30px; padding: 0px;" />
      <div class="row py-2" id="sub-two">
        <div class="col-md-4">
          <div class="vertical-line text-center">
            <span class="fa fa-map-marker fa-3x"></span>
            <h6>ACOMPANHE SEU PEDIDO</h6>
          </div>
        </div>

        <div class="col-md-4">
          <div class="vertical-line text-center">
            <span class="fa fa-refresh fa-3x"></span>
            <h6>DEVOLUÇÃO GRATUITA E FÁCIL</h6>
          </div>
        </div>

        <div class="col-md-4">
          <div style="margin: 8px;" class="text-center">
            <span class="fa fa-remove fa-3x"></span>
            <h6>CANCELAMENTOS ONLINE</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer-main">
    <ul>
      <li>
        <a href=""><b>Sobre nós</b></a>
      </li>
      <li>
        <a href=""><b>Seja nosso parceiro</b></a>
      </li>
      <li>
        <a href=""><b>Termos e Condições</b></a>
      </li>
      <li>
        <a href=""><b>Atendimento ao Cliente</b></a>
      </li>
    </ul>

    <div id="social-menu">
      <ul>
        <li>
          <a href=""
            ><img style="max-width: 18px; margin-top: -7px;" src=""
          /></a>
        </li>
        <li>
          <a href=""
            ><img style="max-width: 18px; margin-top: -7px;" src=""
          /></a>
        </li>
        <li>
          <a href=""
            ><img style="max-width: 18px; margin-top: -7px;" src=""
          /></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
