<div class="super_container">
  <!-- Top Bar -->
  <div class="top_bar">
    <div class="container-lg">
      <div class="row">
        <div class="col d-flex flex-row">
          <div class="top_bar_contact_item">
            <div class="top_bar_icon">
              <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918577/phone.png" alt="" />
            </div>
            +91 9823 132 111
          </div>
          <div class="top_bar_contact_item">
            <div class="top_bar_icon">
              <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918597/mail.png" alt="" />
            </div>
            <a href="mailto:fastsales@gmail.com">thiago.nogueira187@gmail.com</a>
          </div>
          <div class="top_bar_content ml-auto">
            <div class="top_bar_user">
              <div class="user_icon">
                <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918647/user.svg" alt="" />
              </div>
              <div><a href="#">Cadastro</a></div>
              <div><a [routerLink]="['/login']">Login</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header Main -->

  <div class="header_main">
    <div class="container-lg">
      <div class="row">
        <!-- Logo -->
        <div class="col-lg-2 col-sm-3 col-3 order-1">
          <div class="logo_container">
            <div class="logo"><a [routerLink]="['/']">BBB</a></div>
          </div>
        </div>
        <!-- Search -->
        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
          <div class="header_search">
            <div class="header_search_content">
              <div class="header_search_form_container">
                <form action="#" class="header_search_form clearfix">
                  <input type="search" required="required" class="header_search_input"
                    placeholder="Procure o seu produto..." />
                  <button type="submit" class="header_search_button trans_300" value="Submit">
                    <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918770/search.png" alt="" />
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Wishlist -->
        <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
          <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
              <div class="wishlist_icon">
                <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918681/heart.png" alt="" />
              </div>
              <div class="wishlist_content">
                <div class="wishlist_text"><a href="#">Favoritos</a></div>
                <div class="wishlist_count">10</div>
              </div>
            </div>
            <!-- Cart -->
            <div class="cart">
              <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                <div class="cart_icon">
                  <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1560918704/cart.png" alt="" />
                  <div class="cart_count"><span>3</span></div>
                </div>
                <div class="cart_content">
                  <div class="cart_text">
                    <a [routerLink]="['/carrinho']">Carrinho</a>
                  </div>
                  <div class="cart_price">$185</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Navigation -->
  <nav class="main_nav">
    <div class="container-lg px-0">
      <div class="main_nav_content">
        <!-- Menu Trigger -->
        <div class="menu_trigger_container ml-auto">
          <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
            <a data-toggle="collapse" data-target=".js-navbar-collapse">
              <div class="menu_burger">
                <div class="cat_burger menu_burger_inner">
                  <span></span><span></span><span></span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- Main Nav Menu -->
        <div class="main_nav_menu collapse navbar-collapse js-navbar-collapse d-md-block">
          <ul class="nav navbar-nav main_nav_dropdown">
            <li><a href="#">Início</a></li>

            <li class="">
              <a href="#" data-toggle="dropdown">Cachorros
                <i class="fa fa-chevron-down"></i>
              </a>

              <div class="dropdown-menu mega-dropdown-menu shadow">
                <div class="row">
                  <div class="col-md-4">
                    <ul>
                      <li class="dropdown-header">New in Stores</li>
                      <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="item active">
                            <a href="#"><img src="http://placehold.it/254x150/3498db/f5f5f5/&text=New+Collection"
                                class="img-responsive" alt="product 1" /></a>
                            <h4>
                              <small>Summer dress floral prints</small>
                            </h4>
                            <button class="btn btn-primary" type="button">
                              49,99 €
                            </button>
                            <button href="#" class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-heart"></span>
                              Add to Wishlist
                            </button>
                          </div>
                          <div class="item">
                            <a href="#"><img src="http://placehold.it/254x150/ef5e55/f5f5f5/&text=New+Collection"
                                class="img-responsive" alt="product 2" /></a>
                            <h4>
                              <small>Gold sandals with shiny touch</small>
                            </h4>
                            <button class="btn btn-primary" type="button">
                              9,99 €
                            </button>
                            <button href="#" class="btn btn-default" type="button">
                              <span class="glyphicon glyphicon-heart"></span>
                              Add to Wishlist
                            </button>
                          </div>
                        </div>
                      </div>
                      <li class="divider"></li>
                      <li>
                        <a href="#">View all Collection
                          <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                      </li>
                    </ul>
                  </div>

                  <div class="col-md-4">
                    <ul>
                      <li class="dropdown-header">Dresses</li>
                      <li><a href="#">Unique Features</a></li>
                      <li><a href="#">Image Responsive</a></li>
                      <li><a href="#">Auto Carousel</a></li>
                      <li><a href="#">Newsletter Form</a></li>
                      <li><a href="#">Four columns</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">Tops</li>
                      <li><a href="#">Good Typography</a></li>
                    </ul>
                  </div>

                  <div class="col-md-4">
                    <ul>
                      <li class="dropdown-header">Jackets</li>
                      <li><a href="#">Easy to customize</a></li>
                      <li><a href="#">Glyphicons</a></li>
                      <li><a href="#">Pull Right Elements</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">Pants</li>
                      <li><a href="#">Coloured Headers</a></li>
                      <li><a href="#">Primary Buttons & Default</a></li>
                      <li><a href="#">Calls to action</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li class="">
              <a href="#" data-toggle="dropdown">Gatos
                <i class="fa fa-chevron-down"></i>
              </a>

              <div class="dropdown-menu mega-dropdown-menu shadow">
                <div class="row">
                  <div class="col-sm-6">
                    <ul>
                      <li class="dropdown-header">Dresses</li>
                      <li><a href="#">Unique Features</a></li>
                      <li><a href="#">Image Responsive</a></li>
                      <li><a href="#">Auto Carousel</a></li>
                      <li><a href="#">Newsletter Form</a></li>
                      <li><a href="#">Four columns</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">Tops</li>
                      <li><a href="#">Good Typography</a></li>
                    </ul>
                  </div>

                  <div class="col-sm-6">
                    <ul>
                      <li class="dropdown-header">Jackets</li>
                      <li><a href="#">Easy to customize</a></li>
                      <li><a href="#">Glyphicons</a></li>
                      <li><a href="#">Pull Right Elements</a></li>
                      <li class="divider"></li>
                      <li class="dropdown-header">Pants</li>
                      <li><a href="#">Coloured Headers</a></li>
                      <li><a href="#">Primary Buttons & Default</a></li>
                      <li><a href="#">Calls to action</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li><a href="blog.html">Raças</a></li>
            <li><a [routerLink]="['/ofertas']">Ofertas</a></li>
          </ul>

        </div>
      </div>
    </div>
  </nav>
</div>