@charset "utf-8";

div {
  position: relative;
}

a {
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;

  &:hover, &:visited, &:active, &:link {
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  }
}

.super_container {
  width: 100%;
}

.top_bar {
  width: 100%;
  height: 56px;
  background: #fafafa;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  z-index: 2;
}

.header.scrolled .top_bar {
  display: none;
}

.top_bar_contact {
  display: inline-block;
}

.top_bar_contact_item {
  font-size: 16px;
  font-weight: 300;
  line-height: 56px;
  margin-right: 40px;

  &:not(:first-child) {
    margin-right: 0px;
  }

  a {
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    color: #000;
    transition: all 200ms ease;

    &:hover {
      color: #8a8a8a;
    }
  }

  &:last-child {
    margin-right: 0px;
  }
}

.top_bar_icon {
  display: inline-block;
  margin-right: 14px;
  transform: translateY(-2px);
}

.user_icon {
  display: inline-block;
  margin-right: 7px;
  transform: translateY(-2px);
  width: 15px;

  img {
    width: 100%;
  }
}

.top_bar_user {
  display: inline-block;
  margin-left: 35px;

  div {
    display: inline-block;

    &:nth-child(2) {
      margin-right: 21px;

      &::after {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -13px;
        width: 1px;
        height: 17px;
        background: rgba(0, 0, 0, 0.1);
        content: "";
      }
    }
  }

  a {
    font-size: 16px;
    font-weight: 300;
    line-height: 56px;
    color: #000;
    transition: all 200ms ease;

    &:hover {
      color: #8a8a8a;
    }
  }
}

.header_main {
  z-index: 1;
}

.header.scrolled .header_main {
  display: none;
}

.header_main_item {
  top: 50%;
  transform: translateY(-50%);
}

.logo_container {
  height: 80px;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;

  a {
    font-size: 36px;
    font-weight: 500;
    color: #0e8ce4;
  }
}

.header_search {
  height: 90px;
}

.header_search_content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  .header_search_form_container {
    width: 100%;
    height: 50px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;

    .header_search_form {
      width: 100%;
      height: 100%;

      .header_search_input {
        display: block;
        position: relative;
        width: calc(100% - 50px);
        height: 100%;
        line-height: 50px;
        border: none !important;
        outline: none !important;
        padding-left: 26px;
        color: #7f7f7f;
        float: left;
      }

      .header_search_button {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 100%;
        background: #0e8ce4;
        border: none;
        outline: none;
        cursor: pointer;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      
        &.trans_300 {
          transition: all 300ms ease;
        }
      }
    }
  }
}

.wishlist_cart {
  height: 90px;
}

.wishlist {
  margin-right: 50px;
}

.wishlist_icon img {
  width: 100%;
}

.wishlist_content {
  margin-left: 14px;
}

.wishlist_text a {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  transition: all 200ms ease;

  &:hover {
    color: #0e8ce4;
  }
}

.wishlist_count {
  margin-top: -2px;
  color: #a3a3a3;
  font-size: 14px;
}

.cart_count {
  position: absolute;
  bottom: -1px;
  right: -14px;
  width: 23px;
  height: 23px;
  background: #0e8ce4;
  border-radius: 50%;
  text-align: center;

  span {
    display: block;
    line-height: 23px;
    font-size: 12px;
    color: #FFFFFF;
    transform: translateY(1px);
  }
}

.cart_icon {
  position: relative;

  img {
    width: 100%;
  }
}

.cart_content {
  margin-left: 28px;
}

.cart_text a {
  font-size: 18px;
  font-weight: 400;
  color: #000000;
  transition: all 200ms ease;

  &:hover {
    color: #0e8ce4;
  }
}

.cart_price {
  font-size: 14px;
  color: #a3a3a3;
  margin-top: -2px;
}

.main_nav {
  border-top: solid 1px #f2f2f2;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}

.header.scrolled .main_nav {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 200ms ease;
}

.main_nav_content {
  width: 100%;
  width: 100%;
  text-align: center;
}

.cat_menu_title {
  height: 100%;
}

.cat_burger {
  width: 18px;
  height: 14px;

  span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFFFFF;

    &:nth-child(2) {
      top: 6px;
    }

    &:nth-child(3) {
      top: 12px;
    }
  }
}

.main_nav_dropdown {
  position: relative;
  flex-direction: row;
  justify-content: center;

  li {
    margin-right: 35px;
  
    &:last-child {
      margin-right: 0px;
    }
  
    a {
      font-size: 18px;
      font-weight: 400;
      color: #a19a9a;
      line-height: 60px;
    }
  
    li {
      padding-left: 15px;
      padding-right: 15px;
      margin-right: 0px;
    }
  }
}

.menu_trigger_container {
  display: none;
  width: auto;
  height: 100%;
  padding-right: 25px;
  padding-left: 25px;
  cursor: pointer;
}

.menu_trigger {
  height: 100%;
}

.menu_burger_inner {
  display: inline-block;
}

.menu_trigger_text {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 16px;
}

.page_menu {
  transition: all 500ms ease;
}

@media only screen and (max-width: 991px) {
  .main_nav {
    margin-top: 30px;

    .main_nav_content {
      background: #0e8ce4;

      .main_nav_menu {
        li {
          display: block;
          width: 100%;
          margin-right: 0;

          :first-child {
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .logo_container, .wishlist_cart {
    height: 125px;
  }

  .menu_trigger_container {
    display: block;
  }

  .top_bar {
    height: 40px;
  }

  .top_bar_contact_item {
    font-size: 12px;
    margin-right: 20px;
    line-height: 40px;

    a {
      font-size: 12px;
      line-height: 40px;
    }
  }

  .top_bar_icon {
    margin-right: 4px;

    img {
      width: 70%;
    }
  }

  .top_bar_user a {
    font-size: 12px;
    line-height: 40px;
  }

  .user_icon {
    transform: translateY(-1px);
    width: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .header_search {
    display: none;
  }

  .main_nav {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 575px) {
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 13px;
  }

  .top_bar {
    display: none;
  }

  .logo_container, .wishlist_cart {
    height: 72px;
  }

  .logo a {
    font-size: 24px;
  }

  .cat_burger {
    width: 16px;
    height: 12px;

    span {
      &:nth-child(2) {
        top: 5px;
      }

      &:nth-child(3) {
        top: 10px;
      }
    }
  }

  .menu_trigger_text {
    font-size: 13px;
    margin-right: 10px;
  }

  .wishlist {
    margin-right: 23px;
  }

  .wishlist_content {
    margin-left: 6px;
  }

  .wishlist_text, .cart_text {
    display: none;
  }

  .wishlist_text a, .cart_text a {
    font-size: 14px;
  }

  .wishlist_count, .cart_price {
    font-size: 12px;
  }

  .wishlist_icon {
    width: 20px;
  }

  .cart_content {
    margin-left: 18px;
  }

  .cart_icon {
    width: 17px;
  }

  .cart_count {
    width: 21px;
    height: 21px;

    span {
      line-height: 21px;
    }
  }

  .top_bar_user {
    margin-left: 0px;
  }

  .header_search {
    display: none;
  }

  .main_nav {
    margin-top: 0px;
  }

  .menu_trigger_container {
    padding-right: 15px;
  }
}


.navbar-nav > li > .dropdown-menu {
  margin-top: 0px;
  border: 0;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  width: 200px;
  font-weight: bold;
}

.mega-dropdown-menu {
  position: absolute;
  padding: 20px 0px;
  width: 100%;

  > li {
    > ul {
      padding: 0;
      margin: 0;

      > li {
        > a {
          display: block;
          padding: 3px 20px;
          clear: both;
          font-weight: normal;
          line-height: 1.428571429;
          color: #999;
          white-space: normal;
        }
      }
    }

    ul > li > a {
      &:hover, &:focus {
        text-decoration: none;
        color: #444;
        background-color: #f5f5f5;
      }
    }
  }

  .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
  }

  form {
    margin: 3px 20px;
  }

  .form-group {
    margin-bottom: 3px;
  }
}

.nav > li:hover .dropdown-menu.mega-dropdown-menu {
  display: block;
}

.navbar .li_dib:hover .dropdown-toggle {
  background-color: #e7e7e7;
  color: #555;
}

@media only screen and (max-width: 768px) {
  .navbar-default .navbar-nav > li {
    border-bottom: 1px solid #ddd;

    > a {
      width: 100%;
    }
  }
}